<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<header>
    <nav>
        <div>Bonjour <span th:text="${firstName + lastName}"></span></div>
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/changepassword">Change password</a></li>
            <li><a href="/dashboard">Manage employees</a></li>
        </ul>
    </nav>
</header>
<main>
    <table>
        <tr>
            <th>id</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>dateOfBirth</th>
            <th>phone</th>
            <th>status</th>
            <th>matricule</th>
            <th>matricule</th>
            <th>operations</th>
        </tr>
        <tr th:each="employe: ${employes}">
            <td th:text="${employe.id}"/>
            <td th:text="${employe.firstName}"/>
            <td th:text="${employe.lastName}"/>
            <td th:text="${employe.dateOfBirth}"/>
            <td th:text="${employe.phone}"/>
            <td th:text="${employe.status}"/>
            <td th:text="${employe.matricule}"/>
            <td th:text="${employe.salaire}"/>
            <td><a href=""</td>
            >
        </tr>


    </table>
</main>
</body>
</html>